@charset "utf-8";

#intro {
	width: 100%;
	text-align: left;
}

#inputs {
	width: 100%;
}

#option {
	width: 100%;
	text-align: left;
}

#words {
	width: 45%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	font-size: 90%;
}

#ans {
	width: 45%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	font-size: 90%;
}

.btn {
	width: 200px;
	height: 30px;
	font-weight: bold;
}

label {
	color: blue;
	cursor: pointer;
}

.fleft {
	float: left;
}

.tleft {
	text-align: left;
}